.about-us {
  @include section-column-center;
  @include page-grid;
  width: 100%;

  &__main-title{
    grid-column: 1 / -1;

    @include on-tablet{
      grid-column: 1 / 4;
    }

    @include on-desktop{
      grid-column: 1 / 6;
    }
  }

  &__content {
    grid-column: 1 / -1;
    padding-top: 32px;

        @include on-tablet{
      grid-column: 4 / -1;
      justify-self: start;
    }

        @include on-desktop{
      grid-column: 6 / -1;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0;
    white-space: nowrap;
    text-align: center;
    margin: 0;
    padding-bottom: 16px;

    @include on-tablet{
    text-align: start;
    }
  }
  &__first-time-section {
    display: grid;
    align-self: center;
    grid-template-columns: max-content 1fr;
    gap: 8px 24px;
    max-width: 280px;
    margin: 0 auto;
    padding-bottom: 24px;
  }

  &__first-holidays-time {
    display: grid;
    grid-template-rows: 1fr max-content;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__time {
  color: #161616;
  font-weight: 700;
  margin: 0;
  line-height: 27px;
  justify-self: start;
  }

  &__day {
  color: #161616;
  font-weight: 400;
  line-height: 27px;
  margin: 0;
  align-self: center;

  @include on-desktop{
    width: max-content;
  }
  }
}
