.footer {
  height: 180px;
  max-width: 100%;
  background-image: url(./img/footer.png);
  background-size: 743px auto;
  background-position: center;
  background-repeat: no-repeat;
  position: sticky;
  z-index: -1;
  bottom: 0;

  @include on-tablet{
    height: 360px;
    background-size: 1260px auto;
    background-position: 65% 50%;
  }

  @include on-desktop{
    background-size: cover;
  }
}
