.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include anim-time(transform, scale(1.4));

  &--phone {
    position: relative;
    background-image: url(./img/icons/Icon-Phone-call.svg);
    &:hover + .contact-card{
      opacity: 1;
      transform: translateY(0);
    }
  }

  &--menu {
    background-image: url(./img/icons/Icon-Burger-menu.svg);
      &:hover{
    background-image: url(./img/icons/Icon-Burger-menu-open.svg);
  }
  }

  &--close {
    background-image: url(./img/icons/Icon-Close.svg);
  }
}
