.now-on-view {
 @include section-column-center;

  &__wrapper{
    display: grid;
    row-gap: 48px;
    padding: 48px 0 40px;
  }

  &__images {
    @include page-grid;

    margin: 0;
    justify-self: center;


    &--three {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
    gap: 8px;

        @include on-tablet{
          grid-template-columns: repeat(2, 1fr);
          .now-on-view__image-border:last-child{
            display: none;
          }
        }

        @include on-desktop{
        grid-template-columns: repeat(3, 1fr);
        .now-on-view__image-border:last-child{
        display: block;
        }
      }
    }
  }

  &__image-border {
    max-width: 100%;
    height:auto;
    align-items: start;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    @include anim-time (transform, scale(1.02));

    &--large{
      @include on-tablet{
        grid-column: span 4;
        aspect-ratio: 2.07 / 1;
        transform: scale(1);
        min-height: 184px;
      }

      @include on-desktop{
        grid-column: span 8;
      }
    }

    &--square{
      @include on-tablet{
        height: min-content;
        grid-column: span 2;
      }

      @include on-desktop{
        grid-column: span 4;
      }
    }

  }

  &__image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;



    &--one {
      object-position: 15%;
      transform: scale(1.5);

        @include on-tablet{
        transform: scale(1);
      }
    }

    &--last{
    object-position: 150%;
    transform: scale(1.5);

      @include on-tablet{
        object-position: 0 30%;
        transform: scale(1);
      }
    }
  }

  &__title {
    width: fit-content;
    padding-top: 24px;

  }

  &__pressent-title {
    color: $accent-main;
    margin: 0;
    font-size: 16px;
  }

  &__present-description {
    @include description-text;

    margin: 0;
  }

  &__button {
    @include button;
    @include button-hover;

    justify-self: center;

    @include on-desktop{
      width: 324px;
    }
  }

  &__button-link {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;

    justify-content: center;
    text-decoration: none;
  }

  &__button-text {
    @include button-text;
  }
}

