.section-title {
  justify-self: center;
  text-align: center;
  width: fit-content;

  &--align-left {
    text-align: start;
  }

  &__eye-brow {
    font-size: 12px;
    color: $accent-main;
    font-weight: 700;
    margin: 0;
    text-align: start;
    line-height: 140%
  }

  &__main {
    @include main-title-text;
    font-size: $main-title;
    margin: 0;
    width: 100%;
    justify-self: center;

    @include on-tablet {
      font-size: 48px;
    }

        @include on-desktop {
      font-size: 48px;
    }
  }

  &__description {
  color: #161616;
  font-weight: 400;
  line-height: 27px;
  margin: 0;
  max-width: 100%;
  justify-self: center;
  padding-top:8px;
  }

  @include on-tablet {
  }
}
