html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.main {
  position: relative;
  z-index: 1;
  background-color: white;
  padding: 40px 0;

  &__content {
    display: grid;
    row-gap: 100px;

    @include on-tablet {
      row-gap: 140px;
      margin: 140px 0;
    }

    @include on-desktop {
      margin: 140px 0;
      row-gap: 140px;
    }
  }
}
