$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$main-title:32px;
$medium-title:24px;
$small-title:16px;
$grid-width: 63px;
$accent-main: #d12d35;
$button-hover: #AE1C23;
$button-pressed: #EB343D;
