$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$main-title: 32px;
$medium-title: 24px;
$small-title: 16px;
$grid-width: 63px;
$accent-main: #d12d35;
$button-hover: #ae1c23;
$button-pressed: #eb343d;
